[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
codecov = "*"
pytest-django = "*"
model-mommy = "*"

[packages]
requests = "*"
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
collectfast = "*"

[requires]
python_version = "3.8"
