{% extends 'base/base.html' %}
{% load static %}
{% block title %}OBFS - Vídeos{% endblock title%}
{% block description %}Página com todos os videos{% endblock description %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3" style="text-align:center">Lista dos Vídeos</h1>
                <ol>
                    {% for video in videos %}
                        <li>{{ video.titulo | default:"Faltando Título" }}</li>
                    {% empty %}
                        <li>Não foi encontrado nenhum vídeo</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock body%}

