{% extends 'base/base.html' %}
{% load static %}
{% block title %}OBFS - Demonstração{% endblock title%}
{% block description %}Página com vídeo de demonstração{% endblock description %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">Video Básico: Demonstração</h1>
                <div style="text-align:center">
                    <iframe src="https://player.vimeo.com/video/519943040?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            width="640" height="352" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen title="WhatsApp Video 2021-03-05 at 9.59.19 AM"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}

