<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container pb-4">
        <div class="row">
            <div class="col">
                <h3>Entre em Contato</h3>
                <adddress>
                    +55 75 99823-9838
                    <br/>
                    <a href="mailto:{{contato_email}}" class="text-light">{{contato_email}}</a>
                </adddress>
            </div>
        </div>
    </div>
    <div class="rights pb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% now 'Y' %} Oscar BFS. Todos direitos reservados
                </div>
            </div>
        </div>
    </div>
</footer>